<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CreateUserSuite" parallel="false">
    <test name="Create User">
        <parameter name="username" value="Admin"/>
        <parameter name="password" value="Bitnami.12345"/>
        <classes>
            <class name="com.ehabibov.tests.CreateUserTest"/>
        </classes>
    </test>
</suite>